.gamepiece {
  position: absolute;
  text-align: center;
}

/* background */

body {
  background-image: url("img/stratego.jpg");
  background-repeat: no-repeat;
  background-position: top;
  max-height: 600px;
}